<html>
	<head>
		<%- include('head'); -%>
	</head>
	<body class="text-center">
		<%- include('nav'); -%>
		<div class="container">
			<h1 style="margin-top:4em" class="raleway">404</h1>
			<h5>This page does not exist. Sorry...</h5>
		</div>
	</body>
</html>
