<html>
	<head>
		<%- include('stylesheets'); -%>
		<%- include('js'); -%>
		<title>hello world</title>
	</head>
	<body>
	<%- include('nav'); -%>
	<div class="container">
		<h1>Home Page</h1>
	</div>
	</body>
</html>
