<html>
<head>
<%- include('stylesheets'); -%>
</head>
<body>
	<div class="container">
	<%- include('nav'); -%>
	<br>
	<h1>Login</h1>
	<form action="/login" method="POST">
		<br>username:<br>
		<input type="text" id="username" name="username" placeholder="enter your username" required>
		<br><br>
		password:<br>
		<input type="text" id="password" name="password" placeholder="enter your password" required>
		<br><br>
		<button type="submit">Submit</button>
	</form>
	<p>New User?<br>Sign up <a href="/signup">here</a></p>
	</div>
</body>
</html>
