<!--<nav>
<a href="/">HOME</a>
<% if (isAuthenticated == false) { %>
<a href="/login">LOGIN</a>
<% } %>
<a href="/post">POST</a>
<a href="#">CHAT</a>
<% if (isAuthenticated == true) { %>
<a href="/profile/<%= username %>">PROFILE</a>
<a href="/logout">LOGOUT</a>
<% } %>
</nav>-->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/">App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/post">Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/chat">Chat</a>
      </li>
	<% if (isAuthenticated == false) { %>
      	<li class="nav-item">
        	<a class="nav-link" href="/login">Login</a>
      	</li>
	<% } %>
	<% if (isAuthenticated == true) { %>
        <li class="nav-item">
          <a class="nav-link disabled" href="/profile/<%= username %>">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/logout">Logout</a>
        </li>	
	<% } %>
    </ul>
  </div>
</nav>
