<html>
<head>
<%- include('stylesheets'); -%>
<%- include('js'); -%>
</head>
<body>
<%- include('nav'); -%>
<div class="container">
<br>
<h1>Post</h1>
<form action="/post" method="POST">
  <div class="form-group">
    <input type="text" class="form-control" id="postTitle" name="postTitle" placeholder="Title" autofocus required>
  </div>
  <div class="form-group">
    <textarea class="form-control" id="postText" rows="8" placeholder="Text(optional)"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</body>
</html>
