<html>
<head>
</head>
<body>
<%- include('nav'); -%>
<br>
<form action="/login/signup" method="POST">
  email:<br>
  <input type="text" id="email" name="email" placeholder="enter your email">
  <br><br>
  username:<br>
  <input type="text" id="username" name="username" placeholder="enter your username">
  <br><br>
  password:<br>
  <input type="text" id="password" name="password" placeholder="enter your password">
  <br><br>
  re enter password:<br>
  <input type="text" id="password2" name="password2" placeholder="re enter your password">
  <br><br>
  <button type="submit">Submit</button>
</form>
</body>
</html>
